[submodule "lib/lalily"]
	path = lib/lalily
	url = git@github.com:yurrriq/lalily.git
[submodule "common"]
	path = common
	url = git@github.com:naptaker/common.git
[submodule "old"]
	path = old
	url = git@github.com:naptaker/siestecita-ep.git
	branch = master
[submodule "output"]
	path = output
	url = git@github.com:naptaker/siestecita-ep.git
	branch = output
